<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Barbearia{% endblock %}</title>
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/js/bootstrap.js"></script>
        
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
